name: C++ CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt install -y clang cmake ccache ninja-build lld

      - name: Restore ccache
        uses: actions/cache@v4
        with:
          path: ~/.ccache
          key: ${{ runner.os }}-ccache-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-ccache-

      - name: Configure build
        run: |
          export CC="ccache clang"
          export CXX="ccache clang++"
          mkdir build && cd build
          cmake -DCMAKE_TOOLCHAIN_FILE=../cmake/toolchain.cmake ..

      - name: Build
        run: cmake --build build

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure
